@model DemoappAssignment.Models.UserModel
@{
    ViewBag.Title = "Index";
}

<h3>Add User</h3>
<div style="background-color: antiquewhite;">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div id="divmessage">
                <span class="text-danger" id="spanerrormsg">@ViewBag.ErrorMessage </span>
                <span class="text-success">@ViewBag.Message </span>
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2 required" })

                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })

            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2 required" })
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Birthdate, htmlAttributes: new { @class = "control-label col-md-2 required" })
                <input type="date" name="birthdate" id="txtdate"  style="width: 278px;"  required />

            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2 required" })
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MobileNumber, htmlAttributes: new { @class = "control-label col-md-2 required" })
                @Html.EditorFor(model => model.MobileNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Country, "Select country", htmlAttributes: new { @class = "control-label col-md-2 required" })
                @Html.DropDownList("ddlCountries", Session["Countryist"] as SelectList, new { htmlAttributes = new { @class = "select"  } })

            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.City, "select city", htmlAttributes: new { @class = "control-label col-md-2 required" })        
                <select id="ddlcity" name="ddlcity" required>
                </select>
            </div>



            <br />

            <div class="form-group">
                <div class="col-md-offset-4 col-md-10">
                    <input type="submit" value="Add" id="btnsubmit" class="btn btn-default" style="background-color:white" />
                    <a class="btn btn-default" style="background-color:white;margin-left:30px;" href="@Url.Action("Index","User")">Clear Details</a>
                </div>

            </div>
            
            <div style="height:10px">

            </div>
        </div>

    }
</div>
<link href="~/Scripts/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/Adduser.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<style>
    .divmessage {
        height: 65px;
        text-align: left;
    }


    input[type=text] {
        width: 100%;
        padding: 3px 20px;
        margin: 1px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        margin-left: 30px;
    }


    select {
        appearance: auto;
        outline: 0;
        background-image: none;
        width: 100%;
        height: 100%;
        cursor: pointer;
        border: 2px solid darkseagreen;
        border-radius: 10px;
        margin-left: 0px;
    }

    #divmessage {
        padding: 6px 0px 3px;
        width: 327px;
        text-align: center;
    }

    label {
        padding: 20px;
    }
    .required::after {
        content: ' *';
        color: red;
    }
   .mand{
       color:red;
   }
</style>